<footer>
  
  <p style="margin-bottom: 10px"><a href="/blog.html">Blog</a></p>
  <p style="margin-bottom: 10px"><a href="{{ site.url }}">Back to Home</a></p>

  <p class="header">My Publications on <a href="https://scholar.google.de/citations?user=NhCwiDwAAAAJ&hl=en">Scholar</a></p>
  <p class="header">My Thoughts on <a href="https://twitter.com/arno_simons">Twitter</a></p>
  <p class="header">My Code on <a href="{{ site.github.owner_url }}">GitHub</a></p>

  <p><small>&copy; Arno Simons</small></p>

</footer>