<header>
    
  <h1><a style="color: black" href="{{ site.url }}">{{ site.title }}</a></h1>
  
  <p class="header"><strong>Social Science Researcher</strong></p>
  <small>
    <p class="header">Dr. phil., Sociology, TU-Berlin</p>
    <p class="header">M.A., Science Studies, U-Bielefeld</p>
    <p class="header">B.A., Social Sciences, HU-Berlin</p>
  </small>     

  <img src="/img/me.jpg" alt="Logo" />
  
  <h3 style="margin-bottom: 10px">My Themes</h3>


  <h4 class="header"><a href="/science-society-nexus">Science-Society Nexus</a></h5>
    
    <h5 class="header"><a href="/instrument-constituencies"> Policy Instrument Constituencies</a></h5>
    <h5 class="header"><a href="/evidence-based-policy">&nbspEvidence-Based Policy</a></h5>
    <h5 class="header"><a href="/science-communication">&nbspScience Communication</a></h5>
    <h5 class="header"><a href="/open-science-and-technology">&nbspOpen Science & Technology</a></h5>
    <h5 class="header"><a href="/translational-research">&nbspTranslational Research</a></h5>

  <h4 class="header"><a href="/discourse-analytics">Discourse Analytics</a></h5>
    
    <h5 class="header"><a href="/words-and-framing">&nbspWords & Framing</a></h5>
    <h5 class="header"><a href="/actors-and-networks">&nbspActors & Networks</a></h5>

</header>