<header>
    
  <h1><a style="color: black" href="{{ site.url }}">{{ site.title }}</a></h1>
  
  <h3 style="margin-bottom: 10px">Social Scientist</h3>

  <small>
    <p style="margin-bottom: 1px">Dr. phil., Sociology, TU-Berlin</p>
    <p style="margin-bottom: 1px">M.A., Science Studies, U-Bielefeld</p>
    <p style="margin-bottom: 1px">B.A., Social Sciences, HU-Berlin</p>
  </small>     

  <img src="/img/me.jpg" alt="Logo" />
  
  <h3 style="margin-bottom: 10px">My Themes</h3>

  <h4 style="margin-bottom: 5px"><a href="/policy-instrument-constituencies">Instrument Constituencies</a></h4>
  <h4 style="margin-bottom: 5px"><a href="/epistemic-authority">Epistemic Authority</a></h4>
  <h4 style="margin-bottom: 5px"><a href="/biomedical-translation">Biomedical Translation</a></h4>
  <h4 style="margin-bottom: 5px"><a href="/open-science-and-technology">Open Science & Technology</a></h4>
  <h4 style="margin-bottom: 5px"><a href="/environmental-markets">Environmental Markets</a></h4> 
  <h4 style="margin-bottom: 30px"><a href="/discourse-analytics">Discourse Analytics</a></h4>
  <h4 style="margin-bottom: 30px"><a href="/scratchbook">ScratchBook</a></h4>  
  
</header>