<header>
    
  <h1><a style="color: black" href="{{ site.url }}">{{ site.title }}</a></h1>
  
  <h3 style="margin-bottom: 10px">Social Scientist</h3>

  <small>
    <p style="margin-bottom: 1px">Dr. phil., Sociology, TU-Berlin</p>
    <p style="margin-bottom: 1px">M.A., Science Studies, U-Bielefeld</p>
    <p style="margin-bottom: 1px">B.A., Social Sciences, HU-Berlin</p>
  </small>     

  <img src="/img/me.jpg" alt="Logo" />
  
  <h3 style="margin-bottom: 10px">My Themes</h3>

  <h4 style="margin-bottom: 10px"><a href="/science-society-nexus">Science-Society Nexus</a></h4>
    
    <h5 style="margin-bottom: 5px"><a href="/policy-instrument-constituencies">&nbsp;Policy Instrument Constituencies</a></h5>
    <h5 style="margin-bottom: 5px"><a href="/evidence-based-policy">&nbsp;Evidence-Based Policy</a></h5>
    <h5 style="margin-bottom: 5px"><a href="/science-communication">&nbsp;Science Communication</a></h5>
    <h5 style="margin-bottom: 5px"><a href="/open-science-and-technology">&nbsp;Open Science & Technology</a></h5>
    <h5 style="margin-bottom: 10px"><a href="/translational-research">&nbsp;Translational Research</a></h5>

  <h4 style="margin-bottom: 10px"><a href="/discourse-analytics">Discourse Analytics</a></h4>
    
    <h5 style="margin-bottom: 5px"><a href="/words-and-framing">&nbsp;Words & Framing</a></h5>
    <h5 style="margin-bottom: 5px"><a href="/actors-and-networks">&nbsp;Actors & Networks</a></h5>

</header>