<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a style="color: black" href="{{ site.url }}">{{ site.title }}</a></h1>
        <p class="header"><strong>Social Science Researcher</strong></p>
        <small>
          <p class="header">Dr. phil., Sociology, TU-Berlin</p>
          <p class="header">M.A., Science Studies, U-Bielefeld</p>
          <p class="header">B.A., Social Sciences, HU-Berlin</p>
        </small>        
        <img src="{{site.foto | relative_url}}" alt="Logo" />
        
        <p>Themes</p>
  
        <h4 class="header"><a href="/evidence_based_policy.html">Evidence-Based Policy</a></h4>
        <h4 class="header"><a href="/instrument_constituencies.html">Instrument Constituencies</a></h4> 
        <h4 class="header"><a href="/wikipedia_science_analytics.html">Wikipedia Science Analytics</a></h4>
        <h4 class="header"><a href="/science_media_communication.html">Science and The Media</a></h4> 
        <h4 class="header"><a href="/from_bench_to_bedside.html">From Bench To Bedside</a></h4> 
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p class="header">My Publications on <a href="https://scholar.google.de/citations?user=NhCwiDwAAAAJ&hl=en">Scholar</a></p>
        <p class="header">My Code on <a href="{{ site.github.owner_url }}">Scholar</a></p>
        <p class="header">My Thoughts on <a href="https://twitter.com/arno_simons">Scholar</a></p>
        <p><small>&copy; Arno Simons</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
