<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title }}</h1>
        <p><strong>{{ site.about_me }}</strong></p>
        
        <img src="{{site.foto | relative_url}}" alt="Logo" />
        
        <h5><a href="/evidence_based_policy.html">Evidence-Based Policy</a></h5>
        <h5><a href="/instrument_constituencies.html">Policy Instrument Constituencies</a></h5> 
        <h5><a href="/wikipedia_science_analytics.html">Wikipedia Science Analytics</a></h5>
        <h5><a href="/science_media_communication.html">Science-Media Communiation</a></h5> 
        <h5><a href="/from_bench_to_bedside.html">From Bench To Bedside</a></h5> 
        <h5><a href="{{ site.url }}">Home</a></h5>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p class="view"><a href="{{ site.github.owner_url }}">GitHub</a> and <a href="{{ site.twitter }}">Twitter</a></p>
        <p><small>&copy; Arno Simons</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
