<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        
        <p><strong>{{ site.about_me }}</strong></p>
        
        <img src="{{site.foto | relative_url}}" alt="Logo" />
        
        <p class="view"><a href="{{ site.github.owner_url }}">GitHub</a> and <a href="{{ site.twitter }}">Twitter</a></p>
        
        <h4><a href="./instrument_constituencies.md">Instrument Constituencies</a></h4> 
        <h4><a href="./wikipedia_science_analytics.md">Wikipedia Science Analytics</a></h4> 
        
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Created and maintained by Arno Simons</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
