---
layout: default
---

<div>
  
  {%- if site.pages.size > 0 -%}
    <ul>
      {%- for page in site.pages -%}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ page.title }}
          </a>
        </h3>
        {{ page.excerpt }}
        <p><a href="{{ site.url }}">Continue reading</a></p>
        
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2>{{ page.list_title | default: "Posts" }}</h2>
    <ul>
      {%- for post in site.posts -%}
      <li>
        <span>{{ post.date | date: "%b %-d, %Y" }}</span>
        <h3>
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
