---
layout: default
---

<div>
  
  {%- if site.pages.size > 0 -%}
    {%- for page in site.pages -%}
      {%- if page.teaser -%}
        <h3>{{ page.title }}</h3>
        <p>{{ page.teaser }}<small>...<a href="{{ page.url }}">Continue reading</a></small></p>
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2>{{ page.list_title | default: "Posts" }}</h2>
    <ul>
      {%- for post in site.posts -%}
      <li>
        <span>{{ post.date | date: "%b %-d, %Y" }}</span>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
