---
layout: default
---

{{ content }}

<!-- List related pages -->
{%- for p in site.pages -%}
  {%- if p.tags contains page.tag -%}
    <h3 class="home">{{ p.title }}</h3>
    <p>{{ p.teaser }}<small>...<a href="{{ p.url }}">Continue reading</a></small></p>
  {%- endif -%}
{%- endfor -%}

<!-- List related posts -->
<h2>Related Posts</h2>
<ul>
  {%- for p in site.posts -%}
    {%- if p.tags contains page.tag -%}
      <li style="list-style-type: none;">
        <span>{{ p.date | date: "%b %-d, %Y" }}</span>
        <h3>
          <a href="{{ p.url }}">
            {{ p.title }}
          </a>
        </h3>
        {{ p.excerpt }}
      </li>
    {%- endif -%}
  {%- endfor -%}
</ul>
