---
layout: default
---

{{ content }}

<!-- List related pages -->
{%- for p in site.pages -%}
  {%- if p.tags contains page.tag -%}
    <h3 class="home">{{ p.title }}</h3>
    <p>{{ p.teaser }}<small>...<a href="{{ p.url }}">Continue reading</a></small></p>
  {%- endif -%}
{%- endfor -%}

<!-- List latest posts -->
{%- if site.posts.size > 0 -%}
  <h2>Latest Posts</h2>
  <ul>
    {%- for p in site.posts limit: 3 -%}
    <li style="list-style-type: none;">
      <span>{{ p.date | date: "%b %-d, %Y" }}</span>
      <h3>
        <a href="{{ p.url }}">
          {{ p.title }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
        {{ p.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
{%- endif -%}